version: '3.8'

services:
  # 1. Zookeeper (Kafka needs this to run)
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.2
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  # 2. Kafka (The Message Broker)
  kafka:
    image: confluentinc/cp-kafka:7.3.2
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # 3. Redis (The Cache)
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  # 4. MongoDB (The Database)
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
